// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #2851bb;
$secondary: #26a69a;
$accent: #122350;

$dark: #424242;

$positive: #21ba45;
$negative: #dd1c1a;
$info: #26a69a;
$warning: #f7b05b;

@import "~quasar-variables-styl";
