//////////////
// fadeInUp //
//////////////
@keyframes fadeInUp {
  from {
    transform: translate3d(0,40px,0)
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0,40px,0)
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1
  }
}

////////////////////
// ivuMoveRightIn //
////////////////////
@-webkit-keyframes ivuMoveRightIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes ivuMoveRightIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

////////////////////
// ivuMoveOutRight //
////////////////////
@-webkit-keyframes ivuMoveOutRight {
  0% {
    opacity: 1;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes ivuMoveOutRight {
  0% {
    opacity: 1;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

////////////////////
// ivuMoveLeftIn //
////////////////////
@-webkit-keyframes ivuMoveLeftIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes ivuMoveLeftIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

////////////////////
// ivuMoveOutLeft //
////////////////////
@-webkit-keyframes ivuMoveOutLeft {
  0% {
    opacity: 1;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes ivuMoveOutLeft {
  0% {
    opacity: 1;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

/////////////////////
// ivuMoveBottomUp //
/////////////////////
@-webkit-keyframes ivuMoveBottomUp {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes ivuMoveBottomUp {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 0 0;
             transform-origin: 0 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

//////////////
// bounceX //
/////////////
@-webkit-keyframes bounceX {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes bounceX2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  5% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  10% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  15% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  20% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes bounceRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

//////////////
// pulsate //
////////////
@-webkit-keyframes pulsate {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes pulsate {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.6;
  }
}

//////////////
// pulse //
////////////
@-webkit-keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}

///////////////////
// shadow pulse //
/////////////////
@-webkit-keyframes shadowPulse {
  0% {
    box-shadow: 0 0 0 0px var(--lavender-blue);
  }
  100% {
    box-shadow: 0 0 0 25px var(--white);
  }
}

@keyframes shadowPulse {
  0% {
    box-shadow: 0 0 0 0px var(--lavender-blue);
  }
  100% {
    box-shadow: 0 0 0 25px var(--white);
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

//////////////
// refresh //
////////////
.icon-button.refresh-icon-button .ivu-btn-primary {
  svg {
    transition: transform 500ms ease-in-out;
  }
  &:hover:not(:disabled) {
    svg {
      transform: rotate(-360deg);
    }
  }
}

////////////
// reset //
//////////
.icon-button.reset-icon-button .ivu-btn-primary {
  svg {
    transition: transform 300ms ease-in-out;
  }
  &:hover:not(:disabled) {
    svg {
      transform: rotate(-55deg);
    }
  }
}
