:root {
  /*
   * Text Color used for Project Phase Review Inputs
   */
  --project-phase-review: black;

  /*
   * Text Color Background used for Project Phase Review Inputs
   */
  --project-phase-review-highlight: var(--highlight-yellow);
}

/*
 * Project Phase Review Styling for inputs
 */
.review-input {
  .q-field__control {
    label, .q-field__label {
      font-weight: bold;
    }
  }
  .q-field__control:not([class*="text-negative"]){
    label, .q-field__label {
      color: var(--project-phase-review);
      background: var(--project-phase-review-highlight);
    }
  }
}

/*
 * Allows the project phase review color to be passed using the quasar "color" prop
 * This was added specifically for the "I have updated/reviewed" button
 */
.text-project-phase-review,
.bg-project-phase-review{
  color: var(--project-phase-review);
  background: var(--project-phase-review-highlight);
}

/*
 * Style for q-input's label when input is in focus and/or has content
 */
.q-field--dense.q-field--float .q-field__label {
  transform: translateY(-40%) scale(0.75);
  font-size: 16px;
  width: max-content;
}

/*
 * Style for q-input's appended icons
 */
.q-field__control .q-field__label .q-icon {
  font-size: 14px !important;
}

/*
 * Style for q-input's appended icons
 */
.q-field__append {
  .q-icon {
    font-size: 20px;
    padding-top: 8px;
  }
}
