#report-modal {
  .xs-input {
    max-width: 75px;
  }

  .sm-input {
    max-width: 100px;
  }

  .md-input {
    max-width: 200px;
  }

  .lg-input {
    max-width: 300px;
  }

  .xl-input {
    max-width: 400px;
  }

  .xxl-input {
    max-width: 500px;
  }

  .q-dialog__inner {
    margin-top: 3rem;
  }
}
